html{
	background-color: black;
}

body{
	background-color: transparent;
}

body, html{
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: Times New Roman;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	color: yellow;
}

div{
	font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, p, ul{
	position: relative;
	display: block;
	width: 80vw;
	margin: 0 auto;
	font-weight: normal;
}


.menu{
	position: fixed;
	top: 0px;
	right: 0px;
	padding-left: 1rem;
	padding-right: 1rem;
	background: white;
	font-size: 1rem;
	z-index: 100;
	text-decoration: none;
	height: 100vh;
	opacity: 0.4;
	transform: translateX(50%);
	transition: transform 0.5s, opacity 0.5s;
}

.menu:hover{
	transform: translateX(0%);	
	opacity: 1;
}



.menu > h1{
	width: auto;
}

.menu > h1 > a{
	text-decoration: none;	
	color: blue;
}
.menu > h1 > a:hover{
	color: red;
}


.image{
	width: 80vw;
	max-width: 900px;
	position: relative;
	display: block;
	margin: 0 auto;
}
