html{
	background-color: white;
}

body{
	background-color: transparent;
	letter-spacing: 0.05rem;
}

body, html{
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: Arial;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	color: black;
}

h1, h2, h3, h4, h5, h6, p, ul{
	position: relative;
	display: block;
	width: 80vw;
	margin: 0 auto;
	font-weight: normal;
	font-size: 2rem; 

}

a{
	color: red;
	text-decoration: none;
}

a:hover{
	color:black;
}


.header{
	position: fixed;
	display: block;
	z-index: 100;
	top:0px;
	left: 0px;
	height: auto;
	width: 100vw;
	background: transparent;
	font-size: 0px;
}

.title{
	position: relative;
	width: 50vw;
	display: inline-block;
	text-align: left;
	font-size: 2rem;
	vertical-align: top;
	box-sizing: border-box;
	padding: 1rem;
}

.menu{
	position: relative;
	box-sizing: border-box;
	padding: 1rem;
	display: inline-block;
	width: 50vw;
	bottom: 0px;
	right: 0px;
	vertical-align: top;
	font-size: 2rem;
	text-align: right;
	text-decoration: none;
}

.menu > h1{
	width: auto;
}


.image{
	width: 80vw;
	max-width: 900px;
	position: relative;
	display: block;
	margin: 0 auto;
}
